@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.woff2") format("woff2"),
        url("./fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.woff2") format("woff2"),
        url("./fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    outline: 1px dashed red;
}

:root {
    --fs-heading-primary: 1.5rem;
    --fs-heading-secondary: 1.25rem;
    --fs-heading-tertiary: 1.125rem;
    --fs-heading-quaternary: 1rem;

    --fs-dashboard-heading: 1.75rem;
    --fs-dashboard-nav-links: 1.25rem;

    --fs-para-primary: 1rem;
    --fs-para-secondary: 0.875rem;

    --fw-heading: 700;
    --fw-paragraph: 400;

    --ff-default: "Roboto";

    --bg-primary: hsl(201, 79%, 46%);
    --bg-secondary: hsl(42, 87%, 55%);
    --bg-light-900: hsl(0, 0%, 100%);
    --bg-light-800: hsl(214, 32%, 91%);

    --clr-light: hsl(0, 0%, 100%);
    --clr-dark-900: hsl(0, 0%, 0%);
    --clr-dark-800: hsl(0, 0%, 20%);
    --clr-dark-700: hsl(0, 0%, 39%);

    --spc-900: 4rem;
    --spc-800: 3rem;
    --spc-700: 2.5rem;
    --spc-600: 2rem;
    --spc-500: 1.75rem;
    --spc-400: 1.675rem;
    --spc-300: 1.5rem;
    --spc-200: 1.25rem;
    --spc-100: 1rem;

    --profile-lg: 6.375rem;
    --profile-md: 4.15rem;
}

img[src$="svg"] {
    width: 24px;
}

body {
    font-family: var(--ff-default, sans-serif);
    color: var(--clr-dark-900);
}

.button-primary {
    background-color: #1992d4;
    color: #fff;

    font-size: var(--fs-para-primary);
    font-weight: var(--fw-paragraph);

    width: 6.25em;
    height: 2.5em;

    padding: 14px 28px;
    border: none;
    border-radius: 20px;

    display: grid;
    place-content: center;

    cursor: pointer;
}

.button-primary:hover {
    opacity: 0.8;
}

.button-primary:active {
    transform: scale(0.95);
}

h1,
h2,
h3,
h4 {
    font-weight: var(--fw-heading);
}

h1 {
    font-size: var(--fs-heading-primary);
}

h2 {
    font-size: var(--fs-heading-secondary);
}

h3 {
    font-size: var(--fs-heading-tertiary);
}

h4 {
    font-size: var(--fs-heading-quaternary);
}

/*  */

#body-two-column-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

#header {
    grid-area: header;

    background-color: var(--bg-light-900);

    & img[src$="svg"] {
        cursor: pointer;
    }

    & #header-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
            "search profile"
            "greetings buttons";
        gap: var(--spc-700);

        padding: var(--spc-200) var(--spc-900);

        & #header-greetings-wrapper {
            grid-area: greetings;

            display: flex;
            align-items: center;
            gap: var(--spc-500);

            & div:has(img) {
                width: var(--profile-lg);
                aspect-ratio: 1.085;

                border: 1px solid black;
                border-radius: 50%;
            }

            & p {
                font-size: var(--fs-para-secondary);
                font-weight: var(--fw-heading);
            }
        }

        & #header-buttons-wrapper {
            grid-area: buttons;
            align-self: center;
            justify-self: end;

            display: flex;
            gap: var(--spc-700);
        }

        & #search-bar-wrapper {
            grid-area: search;

            display: flex;
            align-items: center;
            gap: var(--spc-500);

            & #search {
                appearance: none;
                width: 100%;
                height: var(--spc-700);

                padding: var(--spc-100);
                border-radius: 20px;
                border: none;

                background-color: var(--bg-light-800);

                cursor: pointer;
            }

            & #search:hover {
                opacity: 0.8;
            }
        }

        & #header-profile-wrapper {
            grid-area: profile;
            justify-self: end;

            display: flex;
            align-items: center;
            gap: var(--spc-700);

            padding-right: var(--spc-300);

            & div:has(img):last-of-type {
                width: var(--profile-md);
                aspect-ratio: 1.085;

                border: 1px solid black;
                border-radius: 50%;
            }
        }
    }
}

#dashboard-sidebar {
    grid-area: sidebar;

    font-weight: var(--fw-heading);
    color: var(--clr-light);
    background-color: var(--bg-primary);

    & #dashboard-sidebar-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: var(--spc-900);

        padding-top: var(--spc-600);
        padding-left: var(--spc-600);
        padding-right: calc(var(--spc-900) * 1.875);

        & #dashboard-header-wrapper {
            display: flex;
            align-items: center;
            gap: var(--spc-400);

            & h2 {
                font-size: var(--fs-dashboard-heading);
            }
        }

        & div:has(nav) ul {
            display: grid;
            gap: var(--spc-100);
        }

        & li {
            display: flex;
            align-items: center;
            gap: var(--spc-600);

            font-size: var(--fs-dashboard-nav-links);

            cursor: pointer;
        }
    }
}

#main {
    grid-area: main;

    background-color: var(--bg-light-800);

    & img[src$="svg"] {
        cursor: pointer;
    }

    & h2 {
        margin-bottom: var(--spc-200);
    }

    & p {
        font-size: var(--fs-para-primary);
        font-weight: var(--fw-paragraph);
        color: var(--clr-dark-700);
    }

    & #main-grid {
        display: grid;
        grid-template-columns: 2.8fr 1fr;
        grid-template-areas:
            "projects announcements"
            "projects trending"
            "projects ........";

        gap: var(--spc-600);

        padding: var(--spc-800) var(--spc-800) var(--spc-900) var(--spc-400);

        & #projects-section {
            grid-area: projects;

            & .projects-card-wrapper {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(16.125rem, 1fr));

                gap: var(--spc-700);

                & .projects-card {
                    display: flex;
                    flex-direction: column;

                    background-color: var(--bg-light-900);

                    padding: var(--spc-800) var(--spc-700) var(--spc-700)
                        var(--spc-600);
                    border-left: 0.75rem solid var(--bg-secondary);
                    border-radius: 10px;

                    & .icons-wrapper {
                        display: flex;
                        align-self: end;

                        gap: var(--spc-700);
                        margin-top: var(--spc-900);
                    }
                }
            }
        }

        & #announcements-section {
            grid-area: announcements;

            & .announcements-block-wrapper {
                background-color: var(--bg-light-900);

                padding: var(--spc-800) var(--spc-600);
                border-radius: 10px;

                & .announcements-block {
                    padding-inline: calc(var(--spc-100) * 0.5);

                    & p {
                        font-size: var(--fs-para-secondary);
                    }
                }

                & .announcements-block:not(:last-child) {
                    padding-bottom: var(--spc-400);
                    border-bottom: 2px solid var(--bg-light-800);
                }

                & .announcements-block:not(:first-child) {
                    padding-top: var(--spc-400);
                }
            }
        }

        & #trending-section {
            grid-area: trending;

            & .trending-block-wrapper {
                display: grid;
                gap: var(--spc-600);

                background-color: var(--bg-light-900);

                padding: var(--spc-400) var(--spc-600);
                border-radius: 10px;

                & .trending-block {
                    display: flex;
                    align-items: center;
                    gap: var(--spc-300);

                    & p:first-child {
                        color: var(--clr-dark-900);
                    }

                    & p {
                        font-size: var(--fs-para-secondary);
                    }

                    & div:has(img) {
                        width: var(--profile-md);
                        aspect-ratio: 1.085;

                        border: 1px solid black;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
